html(ng-app="dash")
    head
        title Material Reddit
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        // Import CSS
        link(rel="stylesheet", type="text/css", href="bower_components/angular-motion/dist/angular-motion.css")
        link(rel="stylesheet", type="text/css", href="bower_components/angular-material/angular-material.css")
        // Custom CSS
        link(rel="stylesheet", type="text/css", href="custom/css/index.css")

        // Import vendor JS
        script(src="./bower_components/angularjs/angular.js")
        script(type="text/javascript", src="bower_components/angular-animate/angular-animate.js")
        script(type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js")
        script(type="application/javascript", src="bower_components/angular-material/angular-material.js")
        script(type="text/javascript", src="bower_components/angular-strap/dist/angular-strap.js")
        script(type="text/javascript", src="bower_components/ui-router/release/angular-ui-router.js")
        script(src="bower_components/angular-sanitize/angular-sanitize.js")
        script(type="text/javascript" src="bower_components/gfyObject.js")
        script(type="text/javascript" src="bower_components/gfyCollection.js")
        script(type="text/javascript" src="http://test.gfycat.com/gfycat_test_june25.js")

        // Import custom JS
        script(type="text/javascript", src="custom/js/index.js")
    body(ui-view="main")
